<div class="user-details">
  <h1> Whoami </h1>
  <p> Hola! Soy Joaquín, una persona apasionada con todo lo relacionado con la informática, y en especial por la ciberseguridad. </p>
  <br>
  <p>Me gusta aprender algo nuevo siempre que tengo la oportunidad, y me esfuerzo por mejorar mis habilidades cada día. He creado esta página para mostrar mis conocimientos y poder enseñar de alguna forma a personas que tengan curiosidad en aprender sobre la ciberseguridad y, por qué no, la programación. </p>
</div>
