<div class="user-details">
  <h1> ls -l </h1>
</div>
<div class="user-projects">
  <div class="images-right rounded">
    <img alt="mountains" src="/assets/img/writeups.png" />
  </div>
  <div class="contents">
    <h3> Writeups </h3>
    <p>La sección de writeups muestra las soluciones de las máquinas de plataformas como HackTheBox y Vulnhub, mostrando diversas técnicas de pentesting para acceder a dichas máquinas.</p>
    <a class="project-link" href="writeups">Writeups</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left rounded">
    <img alt="mountains" src="/assets/img/blog.png" />
  </div>
  <div class="contents-right">
    <h3> Blog </h3>
    <p>En la sección de blog, se enseñan diferentes técnicas de pentesting, las cuales son utilizadas para evaluar la seguridad de sistemas informáticos y aplicaciones web, proporcionando el conocimiento sobre cómo identificar posibles riesgos de seguridad.</p>
    <a class="project-link" href="https://mrpr1ngl3s.github.io/blog">Blog</a>
  </div>
</div>
